<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="ExamSystemDb" connectionString="Data Source=.;Initial Catalog=ExamSystemDb;Integrated Security=true;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  <add name="ExamSystemDbCloud" connectionString="Server=9f12b562-36f0-4bc3-bcd9-a3a800f6f309.sqlserver.sequelizer.com;Database=db9f12b56236f04bc3bcd9a3a800f6f309;User ID=eoqbpajsgviamfaa;Password=HUFmSPCALKtsM8Pkyee8q6tTwZEmAtZ74XtNFeWCemy8PdfpjjJyibSLAUXZjr8s;" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>