/l.txt
/ExamSystem.Backend/ExamSystem.Backend.v12.suo
/ExamSystem.Backend/ExamSystem.Backend.Models/bin
/ExamSystem.Backend/ExamSystem.Backend.Models/obj
/ExamSystem.Backend/packages
*/bin
*/obj
/ExamSystem.Backend/ExamSystem.Backend.Data/obj
/ExamSystem.Backend/ExamSystem.Backend.Data/bin
/ExamSystem.Backend/ExamSystem.Backend.Web/bin
/ExamSystem.Backend/ConsoleApplication1/bin
/ExamSystem.Backend/ConsoleApplication1/obj
/ExamSystem.Backend/ExamSystem.Backend.Web/obj
/ExamSystem.Backend/*.jmconfig
/ExamSystem.Backend/AppHarbor.v12.suo
