<div class="partial" id="welcome">
    <h2>Welcome to Exam System, <span id="username"></span></h2>
    <div id="exams-container"></div>
    <input id="exam-name" class="input" type="text" placeholder="Exam name"/>
    <input id="start-time" class="input" type="text" placeholder="Start Date"/>
    <input id="end-time" class="input" type="text" placeholder="End Date"/>
    <button id="add-exam" class="btn">Add Exam</button>
    <input id="problem-name" class="input" type="text"/>
    <input id="exam-id" class="input" type="text"/>
    <button id="add-problem" class="btn">Add Problem</button>
</div>
