<div class="partial" id="welcome">
    <h2>Welcome to Exam System</h2>
    <input id="email" class="input" type="text" required placeholder="E-mail" />
    <input id="password" class="input" type="password" required="required" placeholder="Password" />
    <button id="login-user" class="btn">User Login</button>
    <button id="login-admin" class="btn">Admin Login</button>
    <a id="register-link" href="#/Register">Register here</a>

    <button id="all-exams" class="btn">All Exams</button>
    <input id="exam-name" class="input" type="text" placeholder="Exam name"/>
    <input id="start-time" class="input" type="text" placeholder="Start Date"/>
    <input id="end-time" class="input" type="text" placeholder="End Date"/>
    <button id="add-exam" class="btn">Add Exam</button>
    <input id="problem-name" class="input" type="text"/>
    <input id="exam-id" class="input" type="text"/>
    <button id="add-problem" class="btn">Add Problem</button>

    <button id="all-comments" class="btn">Add Problem</button>
    <div id="exams-container"></div>
</div>

