<div class="partial" id="welcome">
    <h2>Welcome to Exam System</h2>
    <input id="email" class="input" type="text" required placeholder="E-mail" />
    <input id="password" class="input" type="password" required="required" placeholder="Password" />
    <button id="login-user" class="btn">User Login</button>
    <button id="login-admin" class="btn">Admin Login</button>
    <a id="register-link" href="#/Register">Register here</a>

    <button id="all-exams" class="btn">All Exams</button>

    <div id="exams-container"></div>
</div>

